body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.miFrase {
  padding: 15px;
  background-color: #212121;
  color: white;
  border-radius: 15px;
  margin: 10px;
}
